################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/VisualNeuralNet 2.0/.vs/VisualizationNeuralNet 2.0/v15/Server/sqlite3/storage.ide-wal
